<div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <!-- Default form login -->
        <form action="/user/login" method="post" class="text-center border border-light pt-5 px-5 pb-4" style="background-color: white;">

          <p class="h4 mb-4">Log in</p>

          <!-- Email -->
          <input type="text" name="email" class="form-control mb-4" placeholder="E-mail"/>

          <!-- Password -->
          <input type="password" name="password" class="form-control mb-4" placeholder="Password"/>

          <div class="d-flex justify-content-around">
              <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
              </div>
          </div>

          <!-- Sign in button -->
          <input class="btn btn-info btn-block my-4" type="submit" value="Log In"/>

          <!-- Register -->
          <p>Not a member?
              <a href="/user/register">Register</a>
          </p>

        </form>
        <!-- Default form login -->
      </div>
    </div>
</div>