<div style="height: 50vh">

  <div class="flex-center flex-row">
    <a href="/poems/new" class="rounded-pill contribute">Contribute to the Archive</a>
  </div>

    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-3">dashboard here</h1>
    </div>

</div>