@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&family=Varta&display=swap');

body {
    font-family: 'Varta', sans-serif;
    background-color: blanchedalmond;
}

.animated-icon2 {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.animated-icon2 span {
    background: #F4EFEB;
}

.animated-icon2 span:nth-child(1) {
    top: 10px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 20px;
}

.animated-icon2 span:nth-child(4) {
    top: 30px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}
