<div style="height: 95vh; background-image: url('/public/img/bg-1-02.png'); background-size: cover; max-width: 100%;">
    <div class="flex-center flex-column">
      <img src="/public/img/logo-01.png" style="max-height: 27%;" class="animated fadeIn mt-4 mb-4" alt="Logo"/>
      <p id="intro-verse" class="mt-4">Poetry inspired by the delusions, <br>
        confusions and illusions of young adults.<br>
      </p>
      <a href="/poems" class="rounded-pill start">Start Reading</a>
    </div>
</div>