<div class="row justify-content-md-center">
  <div class="swiper-pagination mt-4"></div>
</div>

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <% chapters.forEach(chapter => { %>
    <div class="swiper-slide" style="height: 100vh;">
      <span class="mb-5 mt-4"><%= chapter.name %></span>
      <a href="/poems/show/<%= chapter._id %>" class="rounded-pill readbutton">Read Chapter</a>
    </div>
    <% }) %>
  </div>
</div>